.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.caption1 {
    display: block;
    text-align: center;
}

.container .box {  
    width: 540px;  
    margin: auto;  
    display: table;
}

.container .box .box-row {  
    display: table-row;  
}  
.container .box .box-cell {  
    display: table-cell; 
    width: 33%;
    padding: 10px;
}

div {
	text-align: center;
}

.container, .navbar {
	background-color: #f4f4f4;
}

.navbar, .navbar-default {
	border: none;
	margin-top: 4%;
	animation-duration: 1.5s;
}

.navbar-default .navbar-nav>li>a {
	color: #262626;
	padding-top: 5px;
	padding-bottom: 5px;
}

ul.rightNav {
	list-style: none;
	overflow: hidden;
	float: right;
	letter-spacing: 1px;
}

ul.rightNav li {
	float: left;
	padding: 0;
}

ul.rightNav li a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
}

ul.leftNav {
	list-style: none;
	overflow: hidden;
	float: left;
	letter-spacing: 1px;
	padding-top: 5px;
}

ul.leftNav li {
	float: left;
	padding: 0;
}

.dialogBox {
	font-family: Verdana, sans-serif;
	width: 1000px;
	height: 500px;
	border: 2px solid #000;
	margin: 0 auto 15px;
	text-align: left;
	padding: 20px;
	font-weight: bold;
	border-radius: 10px;
	background-color: #ddd;
	border-color: #aaa; 
	display: none;
}

.button {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #262626;
	border: 1px solid transparent;
	transition-duration: 0.2s;
	animation-duration: 1s;
	animation-delay: 0.3s;
	transition: 0.5s ease-in-out;
}

.button::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	border-bottom: 2px solid transparent;
	transition: 0.4s;
}

.button:hover::after {
	width: 100%;
	border-bottom: 2px solid #262626;
}

.buttonX {
	float: right;
}

@media screen and (max-width: 680px) {
	.navbar {
			margin-top: 10%;
	}

	div {
		padding-left: 10px;
		padding-right: 10px;
	}
}